/* --------------------------------------------------------- FONTS ---------------------------------------------------------*/
:root {
  --text-color: #ccc;
  --line-height: 1.6;
  
  --font-size-h1: clamp(16px, 4vw, 32px);
  --font-size-h2: clamp(16px, 1.5vw, 32px);
  --font-size-h3: clamp(12px, 1.2vw, 32px);
  --font-size-p: clamp(10px, 1.1vw, 32px);
  --font-size-p2: clamp(10px, 0.9vw, 32px);
  --font-size-p3: clamp(8px, 0.7vw, 32px);

  --h1: 700 var(--font-size-h1)/var(--line-height) 'Constantia', serif;
  --h2: 700 var(--font-size-h2)/var(--line-height) 'Constantia', serif;
  --h3: 500 var(--font-size-h3)/1 'Constantia', serif;
  --p: 500 var(--font-size-p)/var(--line-height) 'Segoe', sans-serif;
  --p2: 500 var(--font-size-p2)/1.2 'Segoe', sans-serif;
  --p3: 500 var(--font-size-p3)/1.2 'Segoe', sans-serif;
}

p {
  font: var(--p);
  color: var(--text-color);
  hyphens: auto; 
}

p.key { /* used for Key in sidebar */
  font: var(--p2);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 0 6px 0;      /* spacing between items vertically */
}

p.footnote { /* used for footnote in sidebar */
  font: var(--p3);
  color: #888;
}

h1 {
  font: var(--h1);
  color: #fff;
}

h2{
  font: var(--h2);
  color: #ddd;
  hyphens: auto;  
}

h3{
  font: var(--h3);
  color: #aaa;
  hyphens: auto; 
  text-transform: uppercase;
}

a {
  color: #666;              
  text-decoration: underline;
}

@font-face {
  font-family: 'Constantia';
  src: url("../fonts/Constantia.woff2") format('woff2');
}

@font-face {
    font-family: 'Segoe';
    src: url("../fonts/SegoeUI.woff2") format('woff2');
} 
body {
    display: flex;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
}
/* --------------------------------------------------------- SIDEBAR ---------------------------------------------------------*/
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20vw;            /* Fixed width for sidebar */
  overflow-y: auto;       /* scrolls vertically if content overflows */
  top: env(safe-area-inset-top);       /* push top down safely */
  bottom: env(safe-area-inset-bottom); /* push top to bottom safely */
  background: #3d3d3d;
  background-image: url('../images/ornatetexture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-content {
  margin: 0 8% 0 8%;
  text-align: left;
}

.sidebar-footer {
  background-color: #111;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.inline-icon {    /* used for the sidebar legend */
  width: var(--font-size-p);
  height: var(--font-size-p);
  vertical-align: middle;
}

/* --------------------------------------------------------- CONTENT ---------------------------------------------------------*/
.content {
  margin-left: 20vw; /* Same as sidebar width */
  padding: 0;
  display: flex;
  min-height: calc(var(--vh, 1vh) * 100 - 15vh); /* full height minus header */
  overflow: auto;
  background-image: url('../images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  left: 20vw;
  height: 15vh;
  right: 0;
  position: fixed;
  background: linear-gradient(180deg, #fdd482 0%, #b38236 100%);
  color: white;
  display: flex;              /* enable flexbox */
  justify-content: center;    /* center horizontally */
  align-items: center;        /* center vertically */
  z-index: 1000;
}

main {
  display: flex;
  margin-top: 15vh; /* push body content below header */
  padding: 20px;
  flex: 1; /* take all remaining vertical space */
}

/* --------------------------------------------------------- DROPDOWN --------------------------------------------------------*/
/* Container for .selected and .dropdown-list */
.dropdown { 
  position: relative;
  width: 100%;
  margin: auto;
  align-items: center;
}

/* Main visible button before list is opened */
.dropdown .selected {
  position: relative;      /* so text can be positioned over the image */
  display: inline-flex;   /* shrink-wrap to the image width */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font: var(--h2);
  font-size: clamp(12px, 1.3vw, 32px);
  transition: transform 0.3s ease;
}

.dropdown .selected:hover{
  transform: scale(1.05);
}

/* Button image */
.dropdown .selected .dropdown-bg {
  display: flex;
  width: 100%;
  height: auto;              /* preserves the image’s aspect ratio */
  transition: opacity 0.2s ease;
}

.dropdown .selected .label {
  position: absolute;        /* sits on top of the image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;     /* flex to allow gap */
  align-items: center;      /* vertical alignment of icon + text */
  justify-content: center;  /* horizontal centering */
  gap: 8px;                 /* separates icon and text */
  color: #ccc;
  width: 90%;               /* prevents text from spilling */
  text-align: center;
  white-space: nowrap;      /* keep on one line */
  overflow: hidden;         /* hide overflow */
  text-overflow: ellipsis;  /* show “…” if text too long */
  pointer-events: none;      /* so clicks still hit the button */
  font-size: 90%;
}

/* Appends arrow to the end of the button text */
.dropdown .selected .label::after {
  content: "";
  display: inline-flex;
  background-image: url('../images/Buttons/Dropdown_Arrow_Down_Double.png');
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.5em;
}

/* The actual dropdown menu upon clicking */
.dropdown .dropdown-list {
  position: absolute;
  top: 100%;
  margin: auto;
  width: max-content;
  border: 2px solid #555;
  border-top: none;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(180deg, #fdd482 0%, #b38236 100%);
  overflow-y: auto;
  display: none;
  z-index: 10;
  color: #333;
  font: var(--p);
}

/* Each item in the list */
.dropdown .dropdown-list li {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font: var(--p);
}

/* Hovering over individual list items */
.dropdown .dropdown-list li:hover {
  background-color: #e0e0e0;
}

/* Icons within dropdown bars */
.dropdown-icon {
  width: 35px;
  height: 35px;
  border: 1px solid #b38236;
}

/* ---------------------------------------------------------– COLUMNS ---------------------------------------------------------*/
.columns {
  display: flex;
  overflow: hidden;         /* prevent overflow */
  gap: 20px;                /* space between columns */
  display: flex;              /* enable flexbox */
  justify-content: center;    /* center horizontally */
  align-items: center;        /* center vertically */
}

.columns > div {
  flex: 1;     /* make them equal width */
}

.key-list {
  column-count: 2;        /* number of columns */
  column-gap: 12px;       /* space between columns */
  padding: 0;
  margin: 0;
}

/* --------------------------------------------------------- TECH TREE ITEMS ---------------------------------------------------------*/

/* Row of flexible columns */
.age-columns-grid {
  display: flex;
  gap: 40px;
  justify-content: flex-start; /* keep columns tight to content */
}

/* Each column only as wide as its content */
.age-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Each row lays out multiple icons horizontally */
.icon-row {
  display: flex;
  gap: 6px;
  justify-content: flex-start;
}

.icon-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  
}
.icon-wrapper.no-background {
  background-color: transparent; 
}

.icon {
  width: 83.5%;         /* scale to fit inside frame 83.5*/
  height: 83.5%;        /* 77/97 = 0.7959, so 79.59% */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* center inside frame */
}

.age-icon { 
  width: 100%;         
  height: 100%;        
  position: absolute;
}

.frame {
  width: 100%;          /* frame size = 97x97px outer, 77x77px inner */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* so clicks pass through */
}

.god-overlay {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 1px solid #333;
}


/* --------------------------------------------------------- MOBILE ---------------------------------------------------------*/

@media (max-width: 768px) {
  header {
    height: 10vh;
    left: 40vw;}
  main{
    margin-top: 10vh;}
  .key-list {
    column-count: 1;}
  .sidebar {
    width: 40vw;}
  .content{
    margin-left: 40vw;}
  :root{
    --font-size-p: clamp(10px, 1.3vw, 32px);
    --font-size-h3: clamp(10px, 1.2vw, 32px);}
}
