body {
    display: flex;
    height: 100vh;
    margin: 0;
}
/* --------------------------- SIDEBAR ---------------------------*/
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;          /* Ensures sidebar fills the viewport */
    width: 20vw;            /* Fixed width for sidebar */
    overflow-y: auto;       /* scrolls vertically if content overflows */
    background: #3d3d3d;
    background-image: url('../images/ornatetexture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}

.sidebar-text {
    margin: 10px 30px 10px 30px;
    text-align: left;
    font-size: 0.9em;
    color: #bbb;
}

.sidebar-footer {
    background-color: #111;
    margin-top: auto;
    padding: 0px 0 0px 0;
    text-align: center;
    font-size: 0.9em;
    color: #222;
}

.inline-icon {    /* used for the sidebar legend */
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* --------------------------- CONTENT ---------------------------*/
.content {
    margin-left: 20vw; /* Same as sidebar width */
    padding: 0;
    display: flex;
    overflow: auto;
    background-image: url('../images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    left: 20vw;
    width: 80vw;
    height: 100px;
    position: fixed;
    background: linear-gradient(180deg, #fdd482 0%, #b38236 100%);
    color: white;

    display: flex;              /* enable flexbox */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
  
    z-index: 1000;
}

main {
  display: flex;
  margin-top: 100px; /* push body content below header */
  padding: 20px;
  flex: 1;
}

/* --------------------------- DROPDOWN --------------------------*/

.columns {
  display: flex;
  gap: 20px;   /* space between columns */
      display: flex;              /* enable flexbox */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
}

.columns > div {
  flex: 1;     /* make them equal width */
}


/* --------------------------- TECH TREE ITEMS ---------------------------*/

/* Row of flexible columns */
.age-columns-grid {
  display: flex;
  gap: 40px;
  justify-content: flex-start; /* keep columns tight to content */
}

/* Each column only as wide as its content */
.age-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Each row lays out multiple icons horizontally */
.icon-row {
  display: flex;
  gap: 6px;
  justify-content: flex-start;
}

.icon-wrapper {
  position: relative;
  width: 50px;      /* match frame size */
  height: 50px;
  
}
.icon-wrapper.no-background {
  background-color: transparent; 
}

.icon {
  width: 83.5%;         /* scale to fit inside frame 83.5*/
  height: 83.5%;        /* 77/97 = 0.7959, so 79.59% */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* center inside frame */
  /*background-color: transparent; /* default background */
}

.big-icon {
  width: 100%;         
  height: 100%;        
  position: absolute;
}

.frame {
  width: 100%;          /* frame size = 97x97px outer, 77x77px inner */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* so clicks pass through */
}

.god-overlay {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 1px solid #333;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  bottom: -140%; /* position below the image */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

/* Arrow below tooltip */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%; /* at the bottom of tooltip */  
  transform: translateX(-50%);
  transform: rotate(180deg);
  border-width: 8px;
  left: 45%;
  border-style: solid;
  border-color: rgba(0,0,0,0.8) transparent transparent transparent;
}

/* Show tooltip on hover */
.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}   


/* --------------------------- FONTS ---------------------------*/
:root {
  --font-sans: 'Segoe', sans-serif;
  --font-serif: 'Constantia', serif;
  
  --text-color: #ccc;
  --font-size-base: 16px;
  --line-height-base: 1.6;
  
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-small: 0.9rem;
}

p {
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
}

p2 {
  font-family: var(--font-sans);
  font-size: var(--font-size-base* 0.9);
  line-height: var(--line-height-base);
  color: var(--text-color);
}

h1 {
    margin: 0;
    font-family: var(--font-serif);
    font-size: var(--font-size-h1);
    font-weight: bold;
}

h2{
  font-family: var(--font-serif);
    font-size: var(--font-size-h2);
  font-weight: bold;
}

@font-face {
  font-family: 'Constantia';
  src: url("../fonts/Constantia.woff2") format('woff2');
}

@font-face {
    font-family: 'Segoe';
    src: url("../fonts/SegoeUI.woff2") format('woff2');
}